/data/*
!data/splits
!data/*.csv
data/p2rank/
!data/p2rank/results.csv
/workdir/*
!/workdir/diffdock_confidence_model
/notebooks/
/results/
/src/datasets/pdbbind.py
/src/datasets/pdbbind_fm.py
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Optional: common local files
.vscode/

