/data/*
!data/splits
!data/*.csv
/workdir/
/notebooks/
/results/
/src/datasets/pdbbind.py
/src/datasets/pdbbind_fm.py
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Optional: common local files
.vscode/

